<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %> | Flow Shop</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta
      name="description"
      content=" An inventory management app for a fictional store called FlowShop."
    />

    <link rel='stylesheet' href='/stylesheets/index.css'/>
    <link rel='stylesheet' href='/stylesheets/header.css' />
    <link rel='stylesheet' href='/stylesheets/categoryCreate.css' />

  </head>

<body>

    <header>
        <nav class="logo">
          <a href="../">FLOW SHOP</a>
        </nav>
        <nav>
                <a href="../categories">CATEGORIES</a>
                <a href="../items">ITEMS</a>
        </nav>
    </header>

    <h1><%= title.toUpperCase() %></h1>

    <% if(typeof errors != "undefined"){ %>
        <ul>
            <% if (errors.length) { %>
                <% errors.forEach((error) => { %>
                    <li>
                       <%= error.msg %>
                    </li>
                <% }) %>
            <% } %>
        </ul>
    <% } %>

    <% if(typeof category == "undefined"){ %>
        <form method="POST" action="">
            <label for="name">Name:</label>
            <input type="text" name="name" id="name"/>
            <label for="description">Description:</label>
            <textarea name="description" id="description"></textarea>
            <button type="submit">SUBMIT</button>
        </form>
    <%} else {%>
        <form method="POST" action="">
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" value="<%= category.name %>"/>
            <label for="description">Description:</label>
            <textarea name="description" id="description"><%= category.description %></textarea>
            <button type="submit">SUBMIT</button>
        </form>
    <% } %>

</body>
</html>
