<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %> | Flow Shop</title>

    <link rel="icon" href="favicon/favicon.ico" />
    <link rel="apple-touch-icon" href="favicon/logo192.png" />

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta
      name="description"
      content=" An inventory management app for a fictional store called FlowShop."
    />

    <link rel='stylesheet' href='/stylesheets/index.css'/>
    <link rel='stylesheet' href='/stylesheets/header.css' />
    <link rel='stylesheet' href='/stylesheets/itemCreate.css' />

  </head>

<body>

    <header>
        <nav class="logo">
          <a href="../../">FLOW SHOP</a>
        </nav>
        <nav>
                <a href="../../categories">CATEGORIES</a>
                <a href="../../items">ITEMS</a>
        </nav>
    </header>

    <h1><%= title.toUpperCase() %></h1>

    <% if(typeof errors != "undefined"){ %>
        <ul>
            <% if (errors.length) { %>
                <% errors.forEach((error) => { %>
                    <li>
                       <%= error.msg %>
                    </li>
                <% }) %>
            <% } %>
        </ul>
    <% } %>

    <% if(typeof item == "undefined"){ %>
        <form action="" method="post">
            <label for="name">Name:</label>
            <input type="text" name="name" id="name"/>
            <label for="description">Description:</label>
            <textarea name="description" id="description"></textarea>
            <label for="price">Price:</label>
            <input type="number" name="price" id="price"/>
            <label for="inStock">In Stock:</label>
            <input type="number" name="inStock" id="inStock"/>
            <label for="category">Category:</label>
            <select id="category" type="select" name="category">
                <% if ((typeof listCategories != "undefined") && listCategories.length) { %>
                    <% listCategories.forEach((category) => { %>
                        <option value="<%= category._id %>"><%= category.name %></option>
                    <% }) %>
                <% } %>
            </select>
            <label for="imageURL">Image URL(optional):</label>
            <input type="url" name="imageURL" id="imageURL"/>
            <button type="submit">SUBMIT</button>
        </form>
    <%} else {%>
        <form action="" method="post">
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" value="<%= item.name %>"/>
            <label for="description">Description:</label>
            <textarea name="description" id="description"><%= item.description %></textarea>
            <label for="price">Price:</label>
            <input type="number" name="price" id="price" value="<%= item.price %>"/>
            <label for="inStock">In Stock:</label>
            <input type="number" name="inStock" id="inStock" value="<%= item.inStock %>"/>
            <label for="category">Category:</label>
            <select id="category" type="select" name="category">
                <% if ((typeof listCategories != "undefined") && listCategories.length) { %>
                    <% listCategories.forEach((category) => { %>
                        <option value="<%= category._id %>"
                            <% if(item.category.toString() == category._id.toString()) {%>
                                selected="selected"
                            <% } %>
                            ><%= category.name %></option>
                    <% }) %>
                <% } %>
            </select>
            <label for="imageURL">Image URL(optional):</label>
            <input type="url" name="imageURL" id="imageURL" value="<%= item.image %>"/>
            <button type="submit">SUBMIT</button>
        </form>
    <% } %>

    

</body>
</html>