<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Items</h1>
    <ul>
        <% if (listItems.length) { %>
            <% listItems.forEach((item) => { %>
                <li>
                    <%= item.name %> <br> <%= item.description %> <br> Price $<%= item.price.toFixed(2) %> 
                    <% if(item.inStock){ %>
                        | In Stock: <%= item.inStock%>
                    <% } %>
                    <br> Category: <%= item.category.name %>
                </li>
            <% }) %>
        <% } else { %>
            <li>No items.</li>
        <% } %>
    </ul>
</body>
</html>